html, body {
    color: #A6ACB0;
}

#footer {
    /* if you don't set the font-size to zero there will be a gap below the
     * video to account for descenders (y, g, q, etc.) */
    font-size: 0;
}

#footer img {
    width: 100%;
}

/* flex stuff is to make the footer image stick to the bottom of the screen */
#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background: #08041c; /* Old browsers */
    background: -moz-linear-gradient(top, #011e34 0%, #08041c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#011e34), color-stop(100%,#08041c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #011e34 0%,#08041c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #011e34 0%,#08041c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #011e34 0%,#08041c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #011e34 0%,#08041c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011e34', endColorstr='#08041c',GradientType=0 ); /* IE6-9 */
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-family: "Aldrich";
    font-size: 50pt;
    color: #093252;
    text-shadow:
        -1px  0px 0px #A6ACB0,
         1px  0px 0px #A6ACB0,
         0px  1px 0px #A6ACB0,
         0px -0px 0px #A6ACB0,

        -1px  1px 0px #A6ACB0,
         1px  1px 0px #A6ACB0,
        -1px -1px 0px #A6ACB0,
         1px -1px 0px #A6ACB0;
}


#cursor-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#video-wrapper {
    display: inline-block;
    position: relative;
    /* if you don't set the font-size to zero there will be a gap below the
     * video to account for descenders (y, g, q, etc.) */
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

.video {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.cursor {
    position: absolute;
}

.cursor img {
    z-index: 1;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -16px;
    left: -16px;
}

.cursor span {
    z-index: 1;
    visibility:visible;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10pt;
    color: black;
    /* create a white halo around the black text so it's visible on all backgrounds */
    text-shadow:
        -1px  0px 1px white,
         1px  0px 1px white,
         0px  1px 1px white,
         0px -0px 1px white,

        -1px  1px 1px white,
         1px  1px 1px white,
        -1px -1px 1px white,
         1px -1px 1px white;
}

.cursor-label-bg {
    z-index: 1;
    visibility:visible;
    position: absolute;
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none !important;
}
