#video-wrapper {
    display: inline-block;
    position: relative;
    /* if you don't set the font-size to zero there will be a gap below the
     * video to account for descenders (y, g, q, etc.) */
    font-size: 0;
}

.video {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.cursor {
    z-index: 1;
    position: absolute;
    width: 32px;
    height: 32px;
}

.cursor-label {
    z-index: 1;
    visibility:visible;
    position: absolute;
    font-size: 10pt;
    color: black;
    /* create a white halo around the black text so it's visible on all backgrounds */
    text-shadow:
        -1px  0px 1px white,
         1px  0px 1px white,
         0px  1px 1px white,
         0px -0px 1px white,

        -1px  1px 1px white,
         1px  1px 1px white,
        -1px -1px 1px white,
         1px -1px 1px white;
}

.cursor-label-bg {
    z-index: 1;
    visibility:visible;
    position: absolute;
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none;
}
